{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <h3>Создайте новый пароль</h3>

    <hr>

    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            {{ form_start(form) }}
            {{ form_widget(form.password) }}

            <button type="submit" class="btn btn-primary">Изменить пароль</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
