/var
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep
/public/bundles/
/public/config.php
/public/assets/vendor
/vendor/
/.php_cs
/.env

/docker-compose.override.yml

# Dev
/docker/php/php-dev.ini
/config/routes/dev/test.yaml
/src/Command/TestCommand.php
/src/Controller/TestController.php
/templates/test.html.twig
