/var
!/var/cache/.gitkeep
!/var/logs/.gitkeep
!/var/sessions/.gitkeep
!/var/jwt/private-test.pem
!/var/jwt/public-test.pem
/public/bundles/
/public/config.php
/vendor/
/.php_cs
/.env
/bin/symfony_requirements

/docker-compose.yml
