version: '2'

services:
  app:
      build:
          context: .
          args:
             SOURCE_DIR: ./var/null
      hostname: astra50.local
      container_name: astra50
      command: bin/console server:run 0.0.0.0:80
      volumes:
          - ./:/usr/local/app
          - COMPOSER_CACHE:/var/cache/composer
      environment:
          SYMFONY_ENV: dev
          PHP_IDE_CONFIG: "serverName=astra50"
          database_host: mysql
          database_user: db
          database_password: db
          SYMFONY__database_host: mysql
          SYMFONY__database_port: "null"
          SYMFONY__database_name: db
          SYMFONY__database_user: db
          SYMFONY__database_password: db
          SYMFONY__mailer_transport: smtp
          SYMFONY__mailer_host: 127.0.0.1
          SYMFONY__mailer_user: "null"
          SYMFONY__mailer_password: "null"
          SYMFONY__secret: 05b4db48594ff353c6dc1b44dffafe6c399512db
          SYMFONY__google_oauth_id: 05b4db48594ff353c6dc1b44dffafe6c399512db
          SYMFONY__google_oauth_secret: 05b4db48594ff353c6dc1b44dffafe6c399512db
          SYMFONY__vkontakte_oauth_id: 05b4db48594ff353c6dc1b44dffafe6c399512db
          SYMFONY__vkontakte_oauth_secret: 05b4db48594ff353c6dc1b44dffafe6c399512db
      depends_on:
          - mysql

  mysql:
      image: mariadb
      hostname: mysql.astra50.local
      container_name: astra50_mysql
      volumes:
          - mysql-db:/var/lib/mysql
      environment:
          MYSQL_DATABASE: db
          MYSQL_USER: db
          MYSQL_PASSWORD: db
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'

volumes:
  mysql-db:
    driver: local
  COMPOSER_CACHE:
    external: true
