version: '2'

services:
  app:
      build:
          context: .
          args:
             SOURCE_DIR: ./var/null
      hostname: astra50.local
      volumes:
          - ./:/usr/local/app
      environment:
          APP_ENV: dev
          APP_DEBUG: 1
#          COMPOSER_EXEC: 'false'
          OPCACHE: 'false'
          MIGRATIONS: 'false'
      depends_on:
          - mysql

  mysql:
      image: mariadb:10.1.23
      hostname: mysql.astra50.local
      volumes:
          - mysql-db:/var/lib/mysql
      environment:
          MYSQL_DATABASE: db
          MYSQL_USER: db
          MYSQL_PASSWORD: db
          MYSQL_ALLOW_EMPTY_PASSWORD: 'true'

volumes:
  mysql-db:
    driver: local
