includes:
	- vendor/phpstan/phpstan-doctrine/extension.neon
	- vendor/phpstan/phpstan-phpunit/extension.neon
	- vendor/grachevko/enum/extension.neon
	- vendor/lookyman/phpstan-symfony/extension.neon

parameters:
	symfony:
		srcDevDebugProjectContainerXml: /usr/local/app/var/cache/dev/publicDevDebugProjectContainer.xml
