<a class="btn btn-danger" href="{{ path('google_login') }}">
    <i class="fa fa-google-plus-official fa-lg" aria-hidden="true"></i>
</a>
<a class="btn btn-primary" href="{{ path('vkontakte_login') }}">
    <i class="fa fa-vk fa-lg" aria-hidden="true"></i>
</a>
