<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->#}
    <meta name="description" content="">
    <meta name="author" content="Konstantin Grachev <me@grachevko.ru>">
    {#<link rel="icon" href="/assets/favicon.ico">#}

    <title>СНТ Астра</title>

    {#<!-- Bootstrap core CSS -->#}
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    {#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
    <link href="{{ asset('assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    {#<!-- Custom styles for this template -->#}
    <link href="{{ asset('assets/css/justified-nav.css') }}" rel="stylesheet">

    {#<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->#}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block stylesheets %}{% endblock %}
</head>

<body>

{% block body %}{% endblock %}

{#<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->#}
<script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js') }}"></script>
</body>
</html>
