{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Участок №{{ area.number }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <button class="btn btn-success" type="submit">Отправить</button>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
