{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Участки</h1>

    <hr>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>№</th>
            <th>Соток</th>
            <th>Владельцы</th>
            <th>Действия</th>
        </tr>
        </thead>
        <tbody>
        {% for area in areas %}
            <tr>
                <td>{{ area.number }}</td>
                <td>{{ area.size }}</td>
                <td>
                    {% if area.users is not empty %}
                        <ul>
                            {% for user in area.users %}
                                <li>{{ user.realname }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-default" href="{{ path('area_show', {'number': area.number}) }}">
                        <i class="fa fa-eye" aria-hidden="true" title="Просмотр"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
