{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Участки</h1>

    <hr>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>№</th>
                <th>Соток</th>
                <th>Долг</th>
            </tr>
        </thead>
        <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{ area.number }}</td>
                    <td>{{ area.size }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
