{% extends 'layout.html.twig' %}

{% block auth %}{% endblock %}
{% block nav %}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Ошибка</h1>
            <p>Бесплатный период пользования истёк.</p>
        </div>
    </div>
{% endblock %}
