{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Промежуточные и итоговые отчеты правления СНТ "АСТРА"</h1>
    <h4>Все вопросы связанные с отчетностью просьба формулировать через форму <a href="{{ path('suggestions_new') }}">обратной связи</a> на сайте.</h4>
    <hr>

    <h3>Отчет в формате ексель</h3>
    <a href="{{ asset('report/09.2017.xlsx') }}">Сводная отчетность от 09.2017</a>
{% endblock %}
