{% extends '::layout.html.twig' %}

{% block content %}
    <h1>Контакты</h1>

    <hr>

    <h2>Как добраться</h2>

    <p class="lead">На общественном транспорте:</p>
    <ul>
        <li>От станции метро Анино:
            <ul>
                <li>406 автобус (или маршрутное такси) до остановки Обводная дорога (также называется ТРЦ Акварель, около 10-15 минут без пробок).</li>
                <li>Далее пешком в сторону Сиферопольского шоссе 3 км.</li>
                <li>Или на такси 5 минут до СНТ Астра.</li>
            </ul>
        </li>
        <li>От платформы Щербинка:
            <ul>
                <li>На такси до СНТ Астра 5-7 минут.</li>
            </ul>
        </li>
    </ul>​

    <p class="lead" style="margin-bottom: 0">На личном транспорте:</p>​

    <ul>
        <li>Из Москвы по "старой Варшавке" (Варшавское шоссе):
            <ul>
                <li>До Обводной дороги (указатель налево на город Тула).</li>
                <li>Далее проехать под первым мостом и не доезжая второго моста (Симферопольское шоссе) повернуть два раза направо, оказавшись на первом мосту.</li>
                <li>После того, как проехали по первому мосту - повернуть налево в сторону ОК "Спасатель" и "У Сервис +" и СНТ Астра будет тут же с правой стороны.</li>
            </ul>
        </li>

        <li style="padding-top: 15px">Из Москвы по Симферопольскому шоссе:
            <ul>
                <li>Прохать, держась строго правых полос (выехав на дублёр), до развязки Подольск-Домодедово.</li>
                <li>Заехать на мост, развернувшись в центр в сторону Москвы по Симферопольскому шоссе.</li>
                <li>Далее по указателю на Щербинку повернуть на Обводную дорогу и проехав под Симферопольским шоссе  и не доезжая второго моста повернуть направо и тут же налево.</li>
                <li>Через 50-80 метров держаться правее в сторону ОК "Спасатель" и "У Сервис +" и СНТ Астра будет тут же с правой стороны.</li>
            </ul>
        </li>
    </ul>

    <h2>На карте</h2>

    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=KFH9rLys_u7jKZLjcMBlSA5pec2EDbl7&amp;width=1140&amp;height=705&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
{% endblock %}
