{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Оплата ежемесячных и целевых взносов</h1>

    <hr>

    <h3>Для оплаты ежемесячных взносов нужно знать ваши номера лицевых счетов:</h3>

    <ul>
        <li>(1000+Номер Участка) для оплаты ежемесячных взносов</li>
        <li>(2000+Номер Участка) для оплаты целевых взносов</li>
    </ul>

    <h4>Примеры:</h4>

    <ul>
        <li>Для участка №5 лицевые счета 1005 и 2005 соответственно.</li>
        <li>Для участка №16 лицевые счета 1016 и 2016 соответственно.</li>
        <li>Для участка №104 лицевые счета 1104 и 2104 соответственно.</li>
    </ul>

    <h3>Доступны следующие способы:</h3>

    <div class="row">
        {% for type,text in payments %}
            <div class="col-md-2" style="margin-bottom: 20px">
                <a href="{{ path('payment_type', {'type': type}) }}">
                    <img class="img-responsive" src="{{ asset('assets/img/payment/'~type~'.png') }}" alt="{{ text }}">
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
