{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Оплата по квитанции в отделениях СберБанка.</h1>

    <h3>Квитанцию вы можете получить в доме сторожа, либо заказать электронную копию по электронной почте.</h3>
    Для получения электронной квитанции, вам нужно в форме <a href="{{ path('suggestions_new') }}">обратной
    связи</a> в разделе "Предложения" оформить заявку на получение квитанции

    <h3>В заявке необходимо указать:</h3>
    <ol>
        <li>Желаемую сумму к оплате</li>
        <li>Назначение "членские взносы", или "целевые взносы", или заказать сразу две квитанции.</li>
        <li>Указать номера участков для которых нужны квитанции.</li>
    </ol>
{% endblock %}
