{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Оплата через систему СберБанк Онлайн</h1>

    <hr>

    <ol>
        <li>
            Перейдите на страницу системы <a href="//online.sberbank.ru" target="_blank">СберБанк Онлайн для физических лиц</a>
        </li>
        <li>Войдите в систему под своим учетными данными (Логин и Пароль).</li>
        <li>Перейдите в раздел "Переводы и платежи"</li>
        <li>Выберите регион "Все регионы" или "Московская область"</li>
        <li>
            Введите в строке поиска "снт астра" без кавычек и нажмите кнопку "Найти".

            {% include 'payment/includes/image.html.twig' with {'url': asset('assets/img/payment/steps/sbrf-online-1.png')} only %}
        </li>

        <li>
            Выберите нужную услугу для оплаты "ежемесячных взносов" или "целевых взносов". Внимание ИНН поставщика должен быть 5074022777
            {% include 'payment/includes/image.html.twig' with {'url': asset('assets/img/payment/steps/sbrf-online-2.png')} only %}
        </li>

        <li>Выберите счет или карту с которой будут списаны средства в счет оплаты.</li>
        <li>
            <p>Укажите свой четырехзначный лицевой счет, который формируется по правилу</p>
            Для ежемесячных взносов (1000+Номер Участка) <br>
            Для целевых взносов (2000+Номер Участка) <br>

            <p>Например:</p>
            <ul>
                <li>Для участка №5 лицевые счета 1005 и 2005 соответственно.</li>
                <li>Для участка №16 лицевые счета 1016 и 2016 соответственно.</li>
                <li>Для участка №104 лицевые счета 1104 и 2104 соответственно.</li>
            </ul>

        <li>
            Нажать кнопку "Продолжить" и следуйте индивидуальным инструкциям.
            {% include 'payment/includes/image.html.twig' with {'url': asset('assets/img/payment/steps/sbrf-online-3.png')} only %}
        </li>
    </ol>


{% endblock %}
