{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Оплата наличными в доме кассира.</h1>

    <h2>Внимание, прием наличных временно приостановлен и осуществляется только при согласовании с Председателем. Используйте другие способы оплаты.</h2>
{% endblock %}
