{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Оплата взнос банковским переводом на счет СНТ "Астра"</h1>


    <p>
        Реквизиты для платежного поручения: <br>
        Название: <strong>СНТ "АСТРА"</strong><br>
        ОГРН: 1025007516820 <br>
        ИНН: <strong>5074022777</strong> <br>
        КПП: <strong>507401001</strong> <br>
        Юридический Адрес: 142143, МО, Подольский гор.округ, вблизи д. Борисовка
    </p>

    <p>
        Расчетный счет: <strong>40703810811010117536</strong> <br>
        Банк: ФИЛИАЛ «БИЗНЕС» ПАО «СОВКОМБАНК» г.Москва <br>
        БИК: <strong>044525058</strong> <br>
        Кор. Счет: 30101810045250000058
    </p>

    <p>
        <strong>Назначение платежа</strong> <br>
        "Оплата ежемесячных взносов по участку №ХХХ" <br>
        Либо <br>
        "Оплата целевых взносов по участку №ХХХ" <br>
        где ХХХ - номер вашего участка. <br>
    </p>

    <p>
        <strong>Сумма платежа</strong> <br>
        Сумму платежа вы можете узнать из последнего отчета в разделе "Финансовая отчетность"
    </p>
{% endblock %}
